<%= render 'new', user: @user, book: @book %>

<% if flash[:notice] %>
  <p id="notice">
  <%= flash[:notice] %>
  </p>
<% end %>

<h2>Book detail</h2>
  <p>
    <%= image_tag @book_detail.user.get_image(100,100) %>
    <%= link_to @book_detail.user.name, user_path(@book_detail.user.id) %>
  </p>
  <%= @book_detail.title %>
  <%= @book_detail.body %>
  <% if @book_detail.user == current_user %>
    <%= link_to 'Edit', edit_book_path(@book_detail.id), class: "btn btn-success"%>
    <%= link_to 'Destroy', book_path(@book_detail.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger"%>
  <% end %>